<template>
	<div class="dashboard">
		<h1 text-xs-center class="subheading grey--text pa-3">Dashboard</h1>

		<v-container class="my-5" text-xs-center>
			
			<div>
				<v-btn v-on:click="dialog = true" bottom floating fixed right fab dark color="pink">
					<v-icon dark>add</v-icon>
				</v-btn>
			</div>

			<v-layout row justify-center>
				<v-dialog v-model="dialog" persistent max-width="600px">
					<v-card>
						<v-card-title>
							<span class="headline">Add Meal</span>
						</v-card-title>
						<v-card-text>
							<v-container grid-list-md>
								<v-layout wrap>
									<v-flex xs12 sm6 md4>
										<v-text-field type="text" 
											label="Description *" 
											required 
											v-model="mealObject.itemDescription" 
											name="itemDescription">
										</v-text-field>
									</v-flex>
									<v-flex xs12>
										<p class="headline">Meal Options</p>
										<div id="Checkboxed">
											<v-layout row wrap>
													<v-flex xs4 v-for="mealOption in mealOptions" :key="mealOption.id">
													<v-switch v-model="mealObject.checkedMealOptions" 
														:id="mealOption.id"
														:label="mealOption.name" 
														:value="mealOption">
													</v-switch>
												</v-flex>
											</v-layout>
										</div>
									</v-flex>
								</v-layout>
							</v-container>
						</v-card-text>
						<v-card-actions>
						<v-spacer></v-spacer>
								<v-btn color="blue darken-1" flat @click="dialog = false">
									Close
								</v-btn>
								<v-btn color="blue darken-1" flat @click="handleSave">
									Save
								</v-btn>
						</v-card-actions>
					</v-card>
				</v-dialog>
			</v-layout>

			<div v-if="!meals.length">
				<h1 class="grey--text pa-3 text-xs-center">
					NO MEALS, PLEASE ADD MEALS
				</h1>
			</div>

			<div v-else>
				<v-card flat v-for="meal in meals" :key="meal.id">		
					<v-layout row wrap>	
						<v-flex xs12 md6 class="px-3 py-3">
							<div class="caption grey--text">Menu Item</div>
							<div class="py-3">{{ meal.description }}</div>
						</v-flex>
						<v-flex xs12 md6 class="py-3">
							<div class="caption grey--text hidden-sm-and-down">Actions</div>
							<div class="py-3">
								<span class="px-3">
									<router-link class="remove-undeline" :to="{ name: 'Meal Detail', params: { mealId: meal.id }}">
										<v-icon>edit</v-icon>
									</router-link>
								</span>
								<span class="">
									<v-icon @click="handleDelete(meal.id)">delete</v-icon>
								</span>
							</div>
						</v-flex>
					</v-layout>

					<v-divider></v-divider>
				</v-card>
			</div>
		</v-container>
	</div>
</template>

<script>

	import MealService from '../service/meal-service'
	import MealOptionService from '../service/meal-option-service'

	export default {

		components:{

		},

		data(){
			return {
				meals: [],
				dialog: false,
				mealObject : {
					itemDescription : null,
					checkedMealOptions : []
				},
				mealOptions : []
			}
		},
		created(){

			this.meals = MealService.getAllMeals();
			this.mealOptions = MealOptionService.getAllMealOptions();
		},

		methods: {
			handleDelete(id){

				this.meals = MealService.deleteMeal(id);
				
				this.$toasted.show('You have deleted a meal successfully', {
					theme: "bubble", 
					position: "bottom-center", 
					duration : 1000,
					icon : {
						name : 'check',
						after : true
					}
				});
			},
			handleSave(){
				this.meals = MealService.addMeal(this.mealObject);
				this.dialog = false;
			}	
		}
	}
</script>

<style scoped type="text/css">

	.remove-undeline {
		text-decoration: none;
	}
</style>
