<template>
  <div class="meal-detail-page">
		<v-container class="my-5">
			
			<h1 class="grey--text pa-3 text-xs-center">
				<v-input v-model="mealObject.description " 
					:placeholder="mealItem.description"></v-input>
			</h1>
			
			<div>
				<v-img :src="mealItem.imageUrl" 
				height="300" 
				contain
				class="">
				</v-img>
			</div>

			<div v-if="mealItem.checkedMealOptions.length">
				<v-flex xs12>
					<p class="headline">Meal Options</p>
					<div id="check-boxes">
							<v-layout row wrap>
								<v-flex xs4 v-for="mealOption in mealItem.checkedMealOptions" v-bind:key="mealOption.id">
								<v-switch
									v-model="mealObject.options" 
									:id="mealOption.id"
									:label="mealOption.name" 
									:value="mealOption">
								</v-switch>
							</v-flex>
						</v-layout>
					</div>
				</v-flex>
			</div>

			<div v-if="availableMealOptions.length">
				<v-flex xs12>
					<p class="headline">Add Meal Options</p>
					<div id="check-boxes">
						<v-layout row wrap>
							<v-flex xs4 v-for="availableOption in availableMealOptions" v-bind:key="availableOption.id">
								<v-switch
									v-model="mealObject.options" 
									:id="availableOption.id"
									:label="availableOption.name" 
									:value="availableOption">
								</v-switch>
							</v-flex>
						</v-layout>
					</div>
				</v-flex>
			</div>
			<div class="text-xs-center">
				<v-btn depressed small color="primary" @click="handleSave">Save</v-btn>
			</div>
		</v-container>
  </div>
</template>

<script>

	import MealService from '../service/meal-service'
	import MealOptionService from '../service/meal-option-service'

	export default {

		props: {
			mealId : String
		},

		data(){
			return {
				
				mealItem : null,
				availableMealOptions : null,
				mealOpt : null,
				mealObject : {
					description : null,
					options: [],
					imageUrl : null
				}
			}
		},

		created(){

			this.mealItem = MealService.getMeal(this.mealId);

			if (this.mealItem.checkedMealOptions.length > 0) {

				this.mealObject.options =  this.mealItem.checkedMealOptions
				this.availableMealOptions = MealOptionService.getFiteredMealOptions(this.mealItem.checkedMealOptions);	

			} else {

				this.availableMealOptions = MealOptionService.getAllMealOptions()
			}

			this.mealObject.imageName = this.mealItem.imageName
			
		},

		methods: {
			handleSave(){
				
				Object.assign(this.mealObject, 
					{	id : this.mealId, 
						description: this.mealObject.description != null ? this.mealObject.description : this.mealItem.description 
					}
				);

				this.mealItem = MealService.update(this.mealObject);
			}
		}
	}
</script>