<template>

	<nav>
		<v-toolbar app flat>
			<v-toolbar-side-icon class="grey--text" @click="displayDrawer = !displayDrawer"></v-toolbar-side-icon>
			<v-toolbar-title class="text-uppercase grey--text">
				<span>VML </span>
				<span class="font-weight-light">Lunch List</span>
			</v-toolbar-title>
			<v-spacer></v-spacer>
			<v-btn flat color="grey" class="hidden-sm-and-down">
				<span>Sign Out</span>
				<v-icon right>exit_to_app</v-icon>
			</v-btn>
		</v-toolbar>

		<v-navigation-drawer dark app class="blue lighten-3" v-model="displayDrawer">
			<v-list>
				<v-list-tile v-for="link in links" :key="link.name" router :to="link.path">
					<v-list-tile-action v-if="link.display">
					<v-icon>{{ link.icon }}</v-icon>
					</v-list-tile-action>
					<v-list-tile-content v-if="link.display">
						<v-list-tile-title>{{ link.name }}</v-list-tile-title>
					</v-list-tile-content>
				</v-list-tile>
			</v-list>
			
			<div class="hidden-md-and-up">
				<v-btn flat>
					<span>Sign Out</span>
					<v-icon>exit_to_app</v-icon>
				</v-btn>
			</div>
		</v-navigation-drawer>
	</nav>
	
</template>

<script>

import router from '@/router'

export default {

	data(){
		return {
			displayDrawer : false,
			links : []
		}
	},
	created(){
		
		this.links = router.options.routes;
	}

}
</script>
