<template>
  <v-app class="grey lighten-4">

    <vml-navbar />

    <v-content>
      <router-view></router-view>
    </v-content>
    
  </v-app>

</template>

<script>

import Navbar from '@/components/Navbar'

export default {
  name: 'App',
  components:{
   'vml-navbar' : Navbar
 },
  data () {
    return {

    }
  },
  methods: {
   
  }
}
</script>
